---
import { Icon } from 'astro-icon/components';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-5xl mx-auto px-4 sm:px-6">
    <div class="text-center py-4 md:py-8 pt-0">
      {
        socialLinks.length > 0 &&
          socialLinks.map(({ ariaLabel, href, text, icon }) => (
            <a
              class="inline-block p-5 text-primary dark:text-secondary hover:text-black focus:outline-none focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg"
              aria-label={ariaLabel}
              href={href}
            >
              {icon && <Icon name={icon} class="w-7 h-7" />}
              <Fragment set:html={text} />
            </a>
          ))
      }
    </div>
    <div class="border-t dark:border-none py-6 md:py-8">
      <div class="text-xs md:text-base text-center uppercase sm:tracking-widest tracking-wider dark:text-muted">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
