---
import WidgetWrapper from '../ui/WidgetWrapper.astro';

const {
  quote = await Astro.slots.render('quote'),
  author = await Astro.slots.render('author'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div data-aos="fade-up" data-aos-delay="150" class="max-w-3xl mx-auto text-center p-6">
    <p class="text-primary p-5 dark:text-secondary font-heading text-9xl leading-[0.25rem]">“</p>
    <p class="text-3xl md:text-4xl tracking-tight mb-4 italic">{quote}</p>
    <p class="text-l text-gray-500 dark:text-gray-300">({author})</p>
  </div>
  <Fragment set:html={bg} />
</WidgetWrapper>
